.title1,
.title2,
.title3,
.title4,
.title5,
.title6 {
  font-weight: 600;
  line-height: 1.2;
  color: #363636;
}

.title1 {
  font-size: 3rem;
}

.title2 {
  font-size: 2.5rem;
}

.title3 {
  font-size: 2rem;
}

.title4 {
  font-size: 1.6rem;
}

.title5 {
  font-size: 1.4rem;
}

.title6 {
  font-size: 1.2rem;
}
